<section id="about" >

  <div class="about-content">
    <h1>About.</h1>
    <p>
      Gastropub Tumblr XOXO chillwave single-origin coffee aesthetic. Butcher fashion axe Pitchfork, polaroid Wes Anderson pork belly brunch lo-fi Vice tofu lomo Shoreditch. Try-hard craft beer heirloom chillwave, meh put a bird on it bespoke Etsy actually drinking vinegar. Retro Austin hashtag Truffaut. Sartorial Williamsburg DIY, occupy craft beer Helvetica narwhal skateboard butcher keytar readymade gentrify dreamcatcher Carles fingerstache. Cornhole plaid slow-carb Neutra meditation photo booth. Chambray taxidermy ugh banh mi, next level four loko disrupt meggings readymade listicle roof party art party Kickstarter direct trade.
    </p>
  </div>

  <div class="about-technology">
    <h2>Technology</h2>
    <div class="technology-box">
      <div id="icon-container">
          <div class="icon">
            <img ng-src="../img/ruby.png" alt="ruby on rails icon black and white">
          </div>
          
          <div class="icon">
            <img ng-src="../img/angular.png" alt="angularjs icon black and white">
          </div>
          
          <div class="icon">
            <img ng-src="../img/sass.png" alt="sass stylesheets icon black and white">
          </div>
          
          <div class="icon">
            
          </div>
          
          <div class="icon">
            <img ng-src="../img/html.png" alt="html5 icon black and white">
          </div>
       </div>
    </div>
    
  </div>



</section>
