a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
#about,#blog,#contact,#home,#portal,#team,body,html,main{width:100%;height:100%}
#home{background:#f9f9f9}
#about{background:tomato}
#team{background:#ff0}
#blog{background:red}
#contact{background:#00f}
#nav-box{position:absolute;bottom:10px;right:10px;z-index:999999999}
ul{height:20px;background:#f9f9f9}
ul li{display:inline;float:left;margin:0 20px}
.slide{-webkit-transition:-webkit-transform .7s ease-in-out;-moz-transition:-moz-transform .7s ease-in-out;-o-transition:-o-transform .7s ease-in-out;transition:transform .7s ease-in-out;-webkit-transform:translateX(0);transform:translateX(0)}
.slide.ng-enter{-webkit-transform:translateX(100%);transform:translateX(100%)}
.slide.ng-enter.ng-enter-active,.slide.ng-leave{position:absolute;-webkit-transform:translateX(0);transform:translateX(0)}
.slide.ng-leave.ng-leave-active{-webkit-transform:translateX(-100%);transform:translateX(-100%)}