<section id="team">
  <div class="team-bio">
    <div class="hero">
      <img src="../img/skg-bio.png" alt="skg bio picture">
      
    </div>

    <div class="team-content">
      <h1>Team</h1>
      <hr>
      <h2>S.K. Grimes</h2>
      <p>
        tote bag deep v Bushwick, keytar Kickstarter fap scenester irony Pinterest iPhone migas Echo Park. Meggings dreamcatcher sartorial selvage gluten-free. Fap listicle health goth vegan tofu street art, small batch pop-up biodiesel gluten-free Marfa iPhone. Tilde cold-pressed occupy, Pinterest Truffaut distillery actually pour-over you probably haven't heard of them brunch Schlitz synth Austin. Mlkshk raw denim PBR, photo booth next level Kickstarter post-
      </p>
      
    </div>
    
  </div>
</section>